name: CI

on:
  pull_request:
  push:
    branches:
      - "main"
    tags:
      - "*"

jobs:
  tests:
    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"

    name: "py${{ matrix.python-version }}"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7
        with:
          python-version: "${{ matrix.python-version }}"

      - name: Run tests
        run: uv run pytest
        env:
          COVERAGE_FILE: ".coverage.${{ matrix.python-version }}"

      - name: Store coverage file
        uses: actions/upload-artifact@v6
        with:
          name: coverage-${{ matrix.python-version }}
          path: .coverage.${{ matrix.python-version }}
          include-hidden-files: true

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: j178/prek-action@91fd7d7cf70ae1dee9f4f44e7dfa5d1073fe6623 # v1
        with:
          extra-args: "--skip=basedpyright"

  type-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Run type checker
        run: uv run basedpyright

  self-check:
    name: Run sync-pre-commit-with-uv on the repo itself
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      REF: "${{ github.head_ref || 'main' }}"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ env.REF }}
          persist-credentials: false

      - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7

      - name: Run sync-pre-commit-with-uv, commit changes if any
        run: |
          set -eux
          uv sync
          uv run prek try-repo . --all-files --show-diff-on-failure || exit_code=$?

          if ! git diff --exit-code; then
            if [ "${IS_FORK}" = "true" ]; then
              echo "::warning::Changes detected, but this is a fork. Skipping commit and push."
              echo "::warning::Please run 'uv run prek try-repo .' locally and commit the changes manually."

            else
              echo "::notice::Changes detected, committing and pushing changes"
              git config user.name "Joachim Jablon (PAT)"
              git config user.email "ewjoachim@gmail.com"
              git add .
              git commit -m "Sync pre-commit with uv.lock"
              git remote set-url origin "https://${PAT}@github.com/${GITHUB_REPOSITORY}.git"
              git push
            fi
            exit 1
          fi

        env:
          PAT: ${{ secrets.PAT }}
          IS_FORK: ${{ github.event_name == 'pull_request' && github.repository != github.event.pull_request.head.repo.full_name }}

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    needs: [tests]
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/download-artifact@v7
        with:
          pattern: coverage-*
          merge-multiple: true

      - name: Display coverage
        uses: ewjoachim/python-coverage-comment-action@v3
        with:
          MERGE_COVERAGE_FILES: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MINIMUM_GREEN: 95

      - name: Store Pull Request comment to be posted
        uses: actions/upload-artifact@v6
        with:
          name: python-coverage-comment-action
          path: python-coverage-comment-action.txt
